body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}

.main{
  min-height: calc(100vh - 230px);
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

a.forum_main_word{
  text-decoration: none;
  color: #f2f2f2; 
  background: #ff4a4a; 
  font-size: 75px; 
  line-height: 74px; 
  font-weight: 700; 
  padding: 10px; 
  font-family: ‘Libre Baskerville’, serif;
  transition: box-shadow ease-out 0.3s;
}
a.forum_main_word:hover{
  box-shadow: 0px 0px 12px 12px rgba(255, 74, 74, 0.17);
}

a.sign_main_word{
  text-decoration: none;
  color: black;
  font-size: 25px; 
  line-height: 24px; 
  font-weight: 700; 
  margin: 30px 0 30px 20px;
  display:inline-block;
  transition:all 0.3s;
  font-family: ‘Libre Baskerville’, serif;
}
a.sign_main_word:hover{
   box-shadow:0px 3px 0 #ff4a4a;
}

a.url_blog{
  text-decoration: none;
  color: black;
  font-family: ‘Libre Baskerville’, serif;
  font-size: 15px; 
  line-height: 20px; 
  font-weight: 700; 
  transition:all 0.3s;
}
a.url_blog:hover{
  box-shadow:0px 3px 0 #3ba2b9;
}

a.url{
  text-decoration: none;
  color: black;
  font-size: 25px; 
  line-height: 24px; 
  font-weight: 700; 
  margin: 10px 0 10px 0;
  display:inline-block;
  transition:all 0.3s;
  font-family: ‘Libre Baskerville’, serif;
}
a.url:hover{
   box-shadow:0px 3px 0 #ff4a4a;
}

.footer {
  height:100px;   
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img.logo{
  width: 40px;
  height: 40px;
}

img.profile_photo{
  width: auto;
  height: 25vh;
}