{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<meta name="viewport" content="width=device-width, initial=scale=1, shrink-to-fit=no">
	<title>{% block title %}Forum - M. Kirill{% endblock %}</title>
	{% bootstrap_css %}
	<link rel="stylesheet" type="text/css" href="{% static "style_forum.css" %}">
	{% bootstrap_javascript jquery='slim' %}
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

<body>
	<div class="nav">
		<div><a class="forum_main_word" href="{% url 'forum:index_name' %}">Forum</a></div>
		{% if user.is_authenticated %}
			<div>
				<a class="sign_main_word" href="{% url 'forum:profile_name' %}">{{ user.username }}</a>
				<a style="font-size: 20px;" class="sign_main_word" href="{% url 'forum:logout_name' %}">( Sign out )</a>
			</div>
		{% else %}
		<div><a class="sign_main_word" href="{% url 'forum:login_name' %}">Sign in/Sign up</a></div>
		{% endif %}

	</div>
	
	<div class="container mt-5" >
		<div class="main">
			<div class="row">
				<div class="col-lg-8">
				{% bootstrap_messages %}
				{% block content %}{% endblock content %}
				</div>
				<div class="col-lg-4">
					{% if user.is_authenticated %}
						{% if user.image %}
							<img class="profile_photo" src="{{ user.image.url }}">
						{% endif %}
						<p style="text-align: center">
							<a href="{% url 'forum:profile_name' %}" class="url">{{ user.username }}</a>
						</p>
					{% endif %}
				</div>
			</div>		
		</div>
	</div>

	<div class="footer" >
		<p><img class='logo' src="{% static 'img/mk.jpg' %}">
		<a class="url_blog" href="{% url 'main:index_name' %}">Блог создателя</a></p>
	</div>
</body>

</html>