{% extends 'layout/basic_forum.html' %}

{% load bootstrap4 %}

{% block title %}
	Обсуждение - {{ discuss.pk }}
{% endblock %}

{% block content %}
<h2><b>Обсуждение</b></h2>
<hr>


<div class="row">
	<div class="col-md-3">
		<img class="profile_photo_mini" src="{{ discuss.creator.image.url }}">
		<p style="text-align:center;margin-top:5px;"><b>{{ discuss.creator.username }}</b></p>
		<p><i><small class="text-muted">Зарегестрирован: <br>{{ discuss.creator.date_joined|date:"d.m.Y" }}</small></i></p>
		<p style="margin-top:-15px;"><i><small class="text-muted">Всего ответов: {{ discuss.creator.answer_set.count }}</small></i></p>
	</div>
	<div class="col-md-9">
		<div class="card">
			<div class="card-header" style="display: flex;justify-content: space-between;">
				<i><small class="text-muted">{{ discuss.date_of_creation }}</small></i>
				<i><small class="text-muted">Ответов: {{ discuss.answer_set.all.count }}</small></i>
				<i><small class="text-muted">Рейтинг: {{ discuss.rating }}</small></i>
			</div>
			<div class="card-body">
				<h4 class="card-text">{{ discuss.text }}</h4>
			</div>
		</div>
	</div>
</div>


<h2><b>Ответы</b></h2>
<hr>
{% for answer in discuss.answer_set.all %}



<div class="row">
	<div class="col-md-3">
		<img class="profile_photo_mini" src="{{ answer.creator.image.url }}">
		<p style="text-align:center;margin-top:5px;"><b>{{ answer.creator.username }}</b></p>
		<p><i><small class="text-muted">Зарегестрирован: <br>{{ answer.creator.date_joined|date:"d.m.Y" }}</small></i></p>
		<p style="margin-top:-15px;"><i><small class="text-muted">Всего ответов: {{ answer.creator.answer_set.count }}</small></i></p>
	</div>
	<div class="col-md-9">
		<div class="card">
			<div class="card-header" style="display: flex;justify-content: space-between;">
				<i><small class="text-muted">{{ answer.date_of_creation }}</small></i>
			</div>
			<div class="card-body">
				<h4 class="card-text">{{ answer.text }}</h4>
				<div class="accordion" id="accordionExample">
					<h3 class="mr-2" style="display:inline-block">
						<a style="color:#ff4a4a;" class="url_default" type="button" data-toggle="collapse" data-target="#collapse{{ answer.pk }}" aria-expanded="true" aria-controls="collapse{{ answer.pk }}">
							Ответить на сообщение
						</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="collapse{{ answer.pk }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
	
	<div class="row justify-content-md-end">
		{% if user.is_authenticated %}
		<div class="col-md-3">
			<img class="profile_photo_mini_mini" src="{{ user.image.url }}">
			<p style="text-align:center;margin-top:5px;"><b>{{ user.username }}</b></p>
		</div>
		<div class="col-md-7">
			
			<form method="post">
				{% csrf_token %}
				{% bootstrap_form sub_answer_form layout='horizontal' show_label=False %}
				<input type="hidden" name="form_" value="subanswer">
				<input type="hidden" name="answer" value={{ answer.pk }}>
				{% bootstrap_button "Ответить" button_type="submit" button_class="btn btn-outline-danger" %}

				{% if captcha_form %}
					{% bootstrap_field captcha_form.captcha placeholder=''%}
				{% endif %}
				
				
			</form>	
			
		</div>
		{% else %}
		<p><a class="url_default" href="{% url 'forum:login_name' %}">Войдите или зарегестрируйтесь</a> чтобы оставлять комментарии.</p>
	{% endif %}	
	</div>
	
</div>


{% for sub_answer in answer.subanswer_set.all %}
	<div class="row justify-content-md-end mt-1">
		<div class="col-md-3">
			<img class="profile_photo_mini_mini" src="{{ sub_answer.creator.image.url }}">
			<p style="text-align:center;margin-top:5px;"><b>{{ sub_answer.creator.username }}</b></p>
		</div>
		<div class="col-md-7">
			<div class="card">
				<div class="card-body" >
					<p class="card-text">{{ sub_answer.text }}
					<i><small class="text-muted">{{ sub_answer.date_of_creation|time }}</small></i>

				</div>
			</div>
		</div>
	</div>

{% endfor %}
<hr>


{% endfor %}
{% if user.is_authenticated %}
	<div>
		<div class="row">
			<div class="col-md-3">
				<img class="profile_photo_mini" src="{{ user.image.url }}">
				<p style="text-align:center;margin-top:5px;"><b>{{ user.username }}</b></p>
			</div>
			<div class="col-md-9">
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form layout='horizontal' show_label=False %}
					<input type="hidden" name="form_" value="answer">

					{% bootstrap_button "Добавить комментарий" button_type="submit" button_class="btn btn-outline-danger" %}
					
					{% if captcha_form %}
						{% bootstrap_field captcha_form.captcha placeholder=''%}
					{% endif %}

				</form>	
			</div>
		</div>
	</div>
{% else %}
	<p><a class="url_default" href="{% url 'forum:login_name' %}">Войдите или зарегестрируйтесь</a> чтобы оставлять комментарии.</p>
{% endif %}
{% endblock %}