{% extends "layout/basic_forum.html" %}

{% load static %}
{% load likes_forum %}

{% block title %}
{{ block.super }}
{% endblock title %}

{% block content %}

<p3><a class="url_default" href="{% url 'forum:profile_add_discuss_name' %}">Создать обсуждение</a></p>
{% for category in categories %}
<div>
	<h1><b>{{ category.name }}</b></h1>
	<hr>
	{% for discuss in category.discussion_set.all %}
	<div class="row">
		<div class="col-md-3">
			<img class="profile_photo_mini" src="{{ discuss.creator.image.url }}">
			<p style="text-align:center; margin-top:5px;"><b>{{ discuss.creator.username }}</b></p>
			<p><i><small class="text-muted">Зарегестрирован: <br>{{ discuss.creator.date_joined|date:"d.m.Y" }}</small></i></p>
			<p style="margin-top:-15px;"><i><small class="text-muted">Всего ответов: {{ discuss.creator.answer_set.count }}</small></i></p>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header" style="display: flex;justify-content: space-between;">
					<i><small class="text-muted">Создано:{{ discuss.date_of_creation }}</small></i>
					<i><small class="text-muted">Ответов: {{ discuss.answer_set.all.count }}</small></i>

					{% count_likes discuss.pk as likes_counter %}
					<i><small class="text-muted">Рейтинг: {{ likes_counter }}</small></i>

					<!--      Likes        -->
					{% is_liked discuss.pk as is_liked_bool %}
					

					{% if is_liked_bool %}
						{%  forum_likes_id	discuss.pk as forum_likes_id %}
					{% endif %}

					<form 
					{% if not is_liked_bool %} action="{% url 'forum:add_like_name' %}"
					{% else %}
					action="{% url 'forum:remove_like_name' %}"
					{% endif %}
					method="POST">

						{% csrf_token %}
						<input type="hidden" name="discussion_id" value="{{ discuss.pk }}">
						<input type="hidden" name="user_id" value="{% if user.is_authenticated %}{{ request.user.id }}{% else %}None{% endif %}">

						{% if is_liked_bool %}
							<input type="hidden" name="forum_likes_id" value="{{ forum_likes_id }}">
						{% endif %}

						{% if not is_liked_bool %}
						<button type="submit" style="outline: none; border: 0; background-color:gray">
							<img title="Добавляет +1 к рейтингу" class='plus' src="{% static 'img/plus.png' %}"></a>
						</button>
						{% else %}
						<button type="submit" style="outline: none; border: 0; background-color:#ff4a4a">
							<img title="Добавляет +1 к рейтингу" class='plus' src="{% static 'img/ok.png' %}"></a>
						</button>
						{% endif %}

						
					</form>
					<!--     Likes        -->

				</div>
				<div class="card-body">

					<h4 class="card-text">{{ discuss.text }}</h4>
					<a href="{% url "forum:detail_discuss_name" pk=discuss.pk %}" class="url_default">Перейти к обсуждению</a>
				</div>
			</div>
		</div>
	</div>
	<hr>	
	{% endfor %}
</div>
{% endfor %}
{% endblock content %}