{% extends "layout/basic_forum.html" %}

{% load bootstrap4 %}

{% block title %}
	{{ block.super }}
{% endblock title %}

{% block content %}
	{% if user.is_authenticated %}
	 	<p>Вы уже выполнили вход</p>
	{% else %}
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form layout='horizontal' %}
			<input type="hidden" name="next" value="{{ next }}">
			{% buttons submit='Войти' %}{% endbuttons %}
		</form>	
	{% endif %} 
	<p><a href="{% url 'forum:register_name' %}">Регистрация</a></p>
	<p><a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через Вконтакте</a></p>
	<p><a href="{% url 'forum:password_reset_name' %}">Забыли пароль?</a></p>

	
{% endblock content %}