{% extends "layout/basic_forum.html" %}

{% block title %}
	Профиль пользователя	
{% endblock title %}

{% block content %}
	<h2><b>Профиль пользователя {{ user.username }}</b></h2>

	<div class="row">
		<div class="col-lg-6">

			{% if user.image %}
			<img class="profile_photo" src="{{ user.image.url }}">	
			{% endif %}

		</div>
		<div class="col-lg-6">
			<p>Имя профиля: {{user.username}}</p>
			<p>Ваше имя: {{ user.first_name }} {{ user.last_name }}</p>
			<p>Email: {{ user.email }}</p>
			<p>Дата регистрации: {{ user.date_joined }}</p>
			<div class="btn-group">
				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Настройка
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'forum:profile_change_name' %}">Изменить данные</a>
					<a class="dropdown-item" href="{% url 'forum:password_change_name' %}">Изменить пароль</a>
					<a class="dropdown-item" href="{% url 'forum:profile_delete_name' %}">Удалить аккаунт</a>
					<!-- <div class="dropdown-divider"></div> -->
				</div>
			</div>
		</div>
	</div>	

	<h2><b>Обсуждения {{ user.username }}: </b></h2>
	<hr>
	{% if user.discussion_set.all %}
	{% for discuss in user.discussion_set.all %}
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img class="profile_photo" src="{{ discuss.creator.image.url }}">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ discuss.creator.username }} <small style="font-size: 14px; font-weight: 200;" class="text-muted">{{ discuss.date_of_creation }}</small></h5>
					<p class="card-text">{{ discuss.text }}</p>

					<p class="card-text"><small class="text-muted">Рейтинг: {{ discuss.rating }}</small></p>
					<p><a href="#" style="font-size: 20px;" class="url_default">Ответить</a></p>
					<p><a href="{% url 'forum:profile_delete_discuss_name' pk=discuss.pk %}" style="font-size: 20px;" class="url_default">Удалить обсуждение</a></p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h2>Пока нет обсуждений:(</h2>
	{% endif %}

{% endblock content %}
