{% extends "layout/basic_forum.html" %}

{% load bootstrap4 %}

{% block title %}
	Удаление обсуждения - {{ user.username }}
{% endblock title %}

{% block content %}
	<h2><b>Удалить это обсуждение?</b></h2>
	
	<div class="row">
		<div class="col-md-3">
			<img class="profile_photo_mini" src="{{ discuss.creator.image.url }}">
			<p style="text-align:center;margin-top:5px;"><b>{{ discuss.creator.username }}</b></p>
			<p><i><small class="text-muted">Зарегестрирован: <br>{{ discuss.creator.date_joined|date:"d.m.Y" }}</small></i></p>
			<p style="margin-top:-15px;"><i><small class="text-muted">Всего ответов: {{ discuss.creator.answer_set.count }}</small></i></p>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header" style="display: flex;justify-content: space-between;">
					<i><small class="text-muted">Создано:{{ discuss.date_of_creation }}</small></i>
					<i><small class="text-muted">Ответов: {{ discuss.answer_set.all.count }}</small></i>
					<i><small class="text-muted">Рейтинг: {{ discuss.rating }}</small></i>
				</div>
				<div class="card-body">

					<h4 class="card-text">{{ discuss.text }}</h4>
					<a href="{% url "forum:detail_discuss_name" pk=discuss.pk %}" class="url_default">Перейти к обсуждению</a>
				</div>
			</div>
		</div>
	</div>
	<p>
		<form method="post">
		{% csrf_token %}
		
		{% buttons submit='Удалить' %}{% endbuttons %}
		</form>
	</p>
{% endblock content %}