{% extends "layout/basic.html" %}

{% block title %}
	{{ block.super }} - About me
{% endblock title %}


{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h1 class="">About me</h1>
			<hr>
			<h4>My name: {{ me.name }}</h4>
			<h4>Age: {{ me.age }}</h4>
			<h4>Technology stack: {{ me.technology_stack }}</h4>
			
			<h4>Additional information about me:</h4>{{ me.info|safe }}
		</div>
		<div class="col-md-6">
			<p>{% if me.image %}
				<img class="posts_image" src="{{ me.image.url }}" >
			{% endif %}	
			</p>
		</div>
	</div>
{% endblock content %}